parameters:
	autoload_files:
		- %currentWorkingDirectory%/vendor/yiisoft/yii2/Yii.php
		- %currentWorkingDirectory%/vendor/craftcms/cms/src/Craft.php
	ignoreErrors:
		- '#Constant CRAFT_BASE_PATH not found#'
		- '#Method ostark\AsyncQueue\\Plugin::getHandler() should return ostark\\AsyncQueue\\QueueHandler but returns object|null#'
